<h1>Links</h1>
<ul>
  <li>Wikipedia: <a href="https://en.wikipedia.org/wiki/2018_UK_higher_education_strike">2018 UK higher education strike</a></li>
  <li><a href="http://jbsumner.com/19-march.pdf">James Sumner's update leaflet</a></li>
  <li><a href="https://www.ucu.org.uk/uss-action-faqs">University & College Union (UCU) FAQ</a></li>
  <li>Petition: <a href="https://petition.parliament.uk/petitions/214119">Make Universities UK subject to the Freedom of Information Act.</a></li>
  <li>Crowdfund: <a href="https://www.crowdjustice.com/case/fightforpensions/">Legal investigation into mismanagement by the Board of Trustees of the Universities Superannuation Scheme (USS)</a></li>
  <li>Academic Boycott: <a href="https://ucustrike.wordpress.com/academic-boycott-list/">Some Universities seek to punish those taking strike action - Boycott them</a></li>
</ul>
