<h1>Resources</h1>
Since the start of the strike some excellent resources have been created which offer summaries of the issues and resources
<ul>
  <li><a href="http://highereducation.org.uk/">Higher Education strike archive</a></li>
  <li>Wikipedia: <a href="https://en.wikipedia.org/wiki/2018_UK_higher_education_strike">2018 UK higher education strike</a></li>
  <li><a href="http://jbsumner.com/19-march.pdf">James Sumner's update leaflet</a></li>
  <li><a href="https://www.ucu.org.uk/uss-action-faqs">University & College Union (UCU) FAQ</a></li>
  <li>Andrew Chitty: <a href="https://ussmaterials.blogspot.co.uk/">USS materials</a></li>
  <li>Karen Gregory: <a href "https://karengregoryphd.wordpress.com/ucu-strike-readings/">UCU Strike readings</a></li>
</ul>
